body {
  padding-top: 50px;
}
.introduction {
  padding: 40px 15px;
  text-align: center;
}
.logo {
	height:40px;
	width:40px;
}
.json-input {
	font-family: courier;
	resize: none;
}
.invisible {
	display: none;
}
.footer {
    border-top: 1px solid #eee;
    padding: 20px;
}