body {
  padding-top: 50px;
}
.introduction {
  padding: 40px 15px;
  text-align: center;
}
.logo {
	height:50px;
	width:50px;
}
.logo-small {
	height:25px;
	width:25px;
}
.json-input {
	font-family: courier;
	resize: none;
}
.invisible {
	display: none;
}
.footer {
    border-top: 1px solid #eee;
    padding: 20px;
}
.delete-button{
	cursor: pointer;
}
.form-control, .btn {
	border-radius: 2px;
}